.register-wrapper {
    width: 45vw;
    max-width: 450px;
    min-width: 300px;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    transform: translateY(1rem);
    border: 1px solid rgba(119, 119, 119, 0.24);
    border-radius: 10px;
    box-shadow: 0px 5px 5px 4px rgba(119, 119, 119, 0.3);
    animation-name: moveInTop;
    animation-duration: 1.7s;
}

@keyframes moveInTop {
    from {
        transform: translateY(-30rem);
    }

    to {
        transform: translateY(1rem);
    }
}


form.register-form {
    padding: 1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-80px);
}

.form-control {
    margin-bottom: 15px;
}

#reg-btn {
    margin: 5px auto 10px auto;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 3px;
    border-radius: 7px;
}

#reg-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, .2);
}
  
#reg-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
} 
