#edit-details-container {
    margin: 5% 10%;
    max-width: 600px;
    letter-spacing: 1px;
}

#edit-details-container form#edit-head-detail-form {
    font-family: 'Lato', 'sans-serif';
    font-weight: 400;
    max-width: 500px;
    width: 70vw;
}

#edit-details-container form#edit-head-detail-form div.form-group{
    margin-bottom: 2rem;
}