div.details-container {
    margin: 4rem 6rem;
    max-width: 600px;
    font-family: 'Lato', 'sans-serif';
    letter-spacing: 1px;
}

.details-container form {
    max-width: 500px;
    width: 40vw;
}